/Application/BLL/bin
/Application/BLL/obj
/Application/DAO/obj
/Application/DAO/bin
/Application/DataModel/obj
/Application/DataModel/bin
/Application/Entity/obj
/Application/Entity/bin
/Application/WebApi/obj
/Application/WebApi/bin
/Components/ApiDocUi/obj
/Components/ApiDocUi/bin
/Components/Cache/obj
/Components/Cache/bin
/Components/Common/bin
/Components/Common/obj
/Components/Localization/obj
/Components/Localization/bin
/Infrastructure/DataAccess/obj
/Infrastructure/DataAccess/bin
/Infrastructure/ORM/obj
/Infrastructure/ORM/bin
/Interface/obj
/Interface/bin
/Repository/obj
/Repository/bin
/Supervisor/obj
/Supervisor/bin
/Application/WebApi/Logs
/UnitTest/BllUnitTest/obj
/UnitTest/BllUnitTest/bin
/.vs/Project/DesignTimeBuild
/.vs/Project/v16
/Application/BLL/*.user
/Application/DAO/*.user
/Application/Entity/*.user
/Interface/*.user
/.vs/Project/config
